@model WebDashboard.Models.DonVi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonVi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tendonvi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendonvi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoitao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoitao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaytao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaytao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoicapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoicapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solancapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solancapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangthai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.madonvi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
