@model IEnumerable<WebDashboard.Models.DonVi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tendonvi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nguoitao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaytao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nguoicapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solancapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangthai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tendonvi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoitao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaytao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoicapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solancapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangthai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.madonvi }) |
            @Html.ActionLink("Details", "Details", new { id=item.madonvi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.madonvi })
        </td>
    </tr>
}

</table>
